package ${packageName}.app.enums;


/**
 * ${key}字典实体
 * 
 * @author ${author}
 * @date ${datetime}
 */
public enum Enum${key}
{

    #foreach ($dict in $dictList)
        ${dict.dictValue}("${dict.dictValue}", "${dict.showValue}"),
    #end
    ;


    /**
    * 枚举值
    */
    private String value;

    /**
    * 描述
    */
    private String desc;

    private Enum${key}(String value, String desc) {
        this.value = value;
        this.desc = desc;
    }

    /**
    * 通过value获取Enum
    *
    * @param desc
    * @return
    */
    public static Enum${key} getEnumByDesc(String desc) {
        Enum${key} resultEnum = null;
        Enum${key}[] enumAry = Enum${key}.values();
        for (int i = 0; i < enumAry.length; i++) {
            if (enumAry[i].getDesc().equals(desc)) {
                resultEnum = enumAry[i];
                break;
            }
        }
        return resultEnum;
    }

    /**
    * 通过value获取Enum
    *
    * @param value
    * @return
    */
    public static Enum${key} getEnumByValue(String value) {
        Enum${key} resultEnum = null;
        Enum${key}[] enumAry = Enum${key}.values();
        for (int i = 0; i < enumAry.length; i++) {
            if (enumAry[i].getValue().equals(value)) {
                resultEnum = enumAry[i];
                break;
            }
        }
        return resultEnum;
    }

    /**
    * 获取描述
    *
    * @param value
    * @return
    */
    public static String getDesc(String value) {
        return Enum${key}.getEnumByValue(value).getDesc();
    }

    /**
    * 获取枚举值
    *
    * @param desc
    * @return
    */
    public static String getValueByDesc(String desc) {
        return Enum${key}.getEnumByDesc(desc).getValue();
    }

    public String getDesc() {
        return desc;
    }

    public void setDesc(String desc) {
        this.desc = desc;
    }

    public String getValue() {
        return value;
    }

    public void setValue(String value) {
        this.value = value;
    }


}
