package ${packageName}.domain;

#foreach ($import in $importList)
import ${import};
#end
import com.frenzy.core.domain.BaseCosmosDomain;
import org.apache.commons.lang3.builder.ToStringBuilder;
import org.apache.commons.lang3.builder.ToStringStyle;
import java.time.LocalDateTime;
import java.io.Serializable;
import lombok.Data;
import lombok.EqualsAndHashCode;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import com.fasterxml.jackson.annotation.JsonFormat;
/**
 * ${functionName}对象 ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = false)
@ApiModel(value="${ClassName}对象", description="${functionName}对象")
public class ${ClassName} extends BaseCosmosDomain
{
    public ${ClassName}() {
        super();
    }

#foreach ($column in $columns)
#if($column.list)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#end
#if($column.javaType == 'Date')
    @JsonFormat(pattern = "yyyy-MM-dd")
#elseif($column.javaType == 'LocalDate')
    @JsonFormat(pattern = "yyyy-MM-dd")
#elseif($column.javaType == 'LocalDateTime')
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
#end
    @ApiModelProperty(value = "${column.columnComment}")
    public $column.javaType $column.javaField;

#end



}
